# Gemini/Agent IDE Specifics
.gemini/
.agents/
scratchpad_*
task.md
implementation_plan.md
walkthrough.md
walkthrough_*.png
*.webp
*.log

# Dependency directories
node_modules/
jspm_packages/

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
.vscode/
*.sublime-project
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db
